Repository aydabd/http-dynamix, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tests, source, config

.github/labeler.yml:

docs:
  - changed-files:
    - any-glob-to-any-file: ['docs/**']

tests:
  - changed-files:
    - any-glob-to-any-file: ['tests/**']

source:
  - changed-files:
    - any-glob-to-any-file: ['src/**']

config:
  - changed-files:
    - any-glob-to-any-file: ['*.toml', '.github/**']

Fix permissions for labeler
  .github/workflows/labeler.yml
Labels: config

fix permission for labeler
  .github/workflows/labeler.yml
Labels: config

Add extended tests and adjust coverage
  pyproject.toml
  tests/test_async_client_extended.py
  tests/test_httpx_formatters.py
  tests/test_logmaster_extended.py
  tests/test_sync_client_extended.py
Labels: tests, config

Add AGENTS instructions and unit tests
  AGENTS.md
  pyproject.toml
  src/http_dynamix/httpx_logger.py
  tests/test_auth.py
  tests/test_clients.py
  tests/test_factory.py
  tests/test_httpx_logger.py
  tests/test_log.py
  tests/test_segment_format.py
Labels: tests, source, config

create same ci steps as locally steps
  .github/workflows/ci.yml
  AGENTS.md
  pyproject.toml
  src/http_dynamix/auth.py
  src/http_dynamix/clients/async_client.py
  src/http_dynamix/clients/sync_client.py
  src/http_dynamix/factory.py
  src/http_dynamix/httpx_logger.py
  src/http_dynamix/log.py
  tests/test_async_clients.py
  tests/test_auth.py
  tests/test_factory.py
  tests/test_httpx_logger.py
  tests/test_log.py
  tests/test_segment_format.py
  tests/test_sync_clients.py
Labels: tests, source, config

create same ci steps as locally steps
  .github/workflows/ci.yml
  AGENTS.md
  pyproject.toml
  src/http_dynamix/auth.py
  src/http_dynamix/clients/async_client.py
  src/http_dynamix/clients/sync_client.py
  src/http_dynamix/factory.py
  src/http_dynamix/httpx_logger.py
  src/http_dynamix/log.py
  tests/test_async_clients.py
  tests/test_auth.py
  tests/test_clients_integration.py
  tests/test_factory.py
  tests/test_httpx_logger.py
  tests/test_log.py
  tests/test_segment_format.py
  tests/test_sync_clients.py
Labels: tests, source, config

fix and update container and compose setup
  AGENTS.md
  Dockerfile
  README.md
  compose.yaml
  docs/dev/contributing.rst
  docs/user/installation.rst
  docs/user/quickstart.rst
Labels: docs

add pypi release and update dockerfiles
  .github/workflows/ci.yml
  .github/workflows/pypi-release.yml
  Dockerfile
  README.md
  compose.yaml
  docs/examples/Dockerfile
  docs/examples/compose.yaml
  docs/examples/tests/test_httpbin_org_service.py
  docs/user/quickstart.rst
  pyproject.toml
  src/http_dynamix/__main__.py
  src/http_dynamix/auth.py
  src/http_dynamix/clients/async_client.py
  src/http_dynamix/httpx_logger.py
  src/http_dynamix/protocols.py
  src/http_dynamix/py.typed
  tests/test_cli_integration.py
Labels: docs, tests, source, config

Add unittests and AGENTS descriptions
  .github/workflows/ci.yml
  .github/workflows/github-release.yml
  .github/workflows/pypi-release.yml
  AGENTS.md
  Dockerfile
  README.md
  compose.yaml
  docs/dev/contributing.rst
  docs/examples/Dockerfile
  docs/examples/compose.yaml
  docs/examples/tests/test_httpbin_org_service.py
  docs/user/installation.rst
  docs/user/quickstart.rst
  pyproject.toml
  src/http_dynamix/__main__.py
  src/http_dynamix/auth.py
  src/http_dynamix/clients/async_client.py
  src/http_dynamix/clients/sync_client.py
  src/http_dynamix/factory.py
  src/http_dynamix/httpx_logger.py
  src/http_dynamix/log.py
  src/http_dynamix/protocols.py
  src/http_dynamix/py.typed
  tests/test_async_client_extended.py
  tests/test_async_clients.py
  tests/test_auth.py
  tests/test_cli_integration.py
  tests/test_clients.py
  tests/test_clients_integration.py
  tests/test_factory.py
  tests/test_httpx_formatters.py
  tests/test_httpx_logger.py
  tests/test_log.py
  tests/test_logmaster_extended.py
  tests/test_segment_format.py
  tests/test_sync_client_extended.py
  tests/test_sync_clients.py
Labels: docs, tests, source, config

Add unittests and AGENTS descriptions
  .github/workflows/ci.yml
  .github/workflows/pypi-release.yml
  AGENTS.md
  Dockerfile
  README.md
  compose.yaml
  docs/dev/contributing.rst
  docs/examples/Dockerfile
  docs/examples/compose.yaml
  docs/examples/tests/test_httpbin_org_service.py
  docs/user/installation.rst
  docs/user/quickstart.rst
  pyproject.toml
  src/http_dynamix/__main__.py
  src/http_dynamix/auth.py
  src/http_dynamix/clients/async_client.py
  src/http_dynamix/clients/sync_client.py
  src/http_dynamix/factory.py
  src/http_dynamix/httpx_logger.py
  src/http_dynamix/log.py
  src/http_dynamix/protocols.py
  src/http_dynamix/py.typed
  tests/test_async_client_extended.py
  tests/test_async_clients.py
  tests/test_auth.py
  tests/test_cli_integration.py
  tests/test_clients.py
  tests/test_clients_integration.py
  tests/test_factory.py
  tests/test_httpx_formatters.py
  tests/test_httpx_logger.py
  tests/test_log.py
  tests/test_logmaster_extended.py
  tests/test_segment_format.py
  tests/test_sync_client_extended.py
  tests/test_sync_clients.py
Labels: docs, tests, source, config

remove the python version matrix from build in ci
  .github/workflows/ci.yml
Labels: config

add readthedocs configuration
  .readthedocs.yaml
  docs/requirements.txt
Labels: docs

fix the build for readthedocs api refernces
  .readthedocs.yaml
  docs/api/http_dynamix.clients.rst
  docs/api/http_dynamix.core.rst
  docs/api/http_dynamix.rst
Labels: docs

Fix CI workflow failure by pinning hatch>=1.14.2 (#11)
  .githooks.d/pre-commit_environment.yml
  pyproject.toml
  tests/test_clients_integration.py
Labels: tests, config

Add comprehensive dot-notation REST API tests + fix per-segment format override (#14)
  src/http_dynamix/clients/async_client.py
  src/http_dynamix/clients/sync_client.py
  tests/test_dot_notation_rest_api.py
Labels: tests, source

remove asyncio marker from async_client fixture
  tests/test_clients_integration.py
Labels: tests

fix: update return type of format method in httpx_logger
  src/http_dynamix/httpx_logger.py
Labels: source
